* {
  box-sizing: border-box;
}

:root {
  --yellow: goldenRod;
  --yellow-active: rgb(253, 227, 77);
  --blue: darkblue;
  --blue-active: rgb(10, 121, 249);
  --red: darkred;
  --red-active: rgb(255, 0, 0);
  --green: darkgreen;
  --green-active: rgb(0, 255, 0);
  --control-box: white;
  --button-color: ;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: #333;
  color: aliceblue;
  font-family: sans-serif;
  text-align: center;
}

.button {
  display: none;
}

.game {
  width: 100%;
}

.simon-container {
  display: grid;
  grid-template-columns: repeat(2, 50px);
  justify-content: center;
  align-content: start;
  padding-top: 2rem;
  gap: 1rem;
  width: 100%;
  height: 300px;
  background-color: #212121;
}

.simon-box {
  width: 50px;
  height: 50px;
  background-color: var(--button-color);
  border: 2px solid white;
}

.yellow {
  --button-color: var(--yellow);
}

.yellow--active {
  --button-color: var(--yellow-active);
  box-shadow: 0 0 10px var(--button-color);
}

.blue {
  --button-color: var(--blue);
}

.blue--active {
  --button-color: var(--blue-active);
  box-shadow: 0 0 10px var(--button-color);
}

.red {
  --button-color: var(--red);
}

.red--active {
  --button-color: var(--red-active);
  box-shadow: 0 0 10px var(--button-color);
}

.green {
  --button-color: var(--green);
}

.green--active {
  --button-color: var(--green-active);
  box-shadow: 0 0 10px var(--button-color);
}

.show {
  display: block;
}

.sequencie-control {
  display: grid;
  grid-template-columns: repeat(10, 20px);
  gap: 1rem;
  width: 165px;
  margin-left: -95px;
}

.control-box {
  width: 20px;
  height: 20px;
  background-color: white;
}

.control-box--yellow {
  background-color: var(--yellow);
}

.control-box--blue {
  background-color: var(--blue);
}

.control-box--red {
  background-color: var(--red);
}

.control-box--green {
  background-color: var(--green);
}
